.footer {
    padding: 60px 0 90px;

    background-image: url('../../img/footer/footer-bg-mob.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include for-size(tablet) {
        padding: 120px 0 160px;

        background-image: url('../../img/footer/footer-bg-desk.png');
    }

    &__text {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 40px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;

        color: #FFFFFF;

        @include for-size(tablet) {
            max-width: 941px;
            margin: 0 auto 120px;

            font-size: 24px;
        }
    }

    &__goal {
        position: relative;
        width: 100%;
        max-width: 450px;
        margin: 0 auto 130px;
        padding: 4px 50px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;

        color: #000000;
        background: #FFFFFF;
        border-radius: 12px;

        @include for-size(tablet) {
            max-width: 560px;
            margin: 0 auto 120px;
            padding: 12px 120px;

            font-size: 24px;
        }
    }

    &__goal--accent {
        position: absolute;
        top: 0;
        left: 0;

        width: 20%;
        height: 100%;

        background: #1482DD;
        border-radius: 12px;

        @include for-size(tablet) {
            width: 15%;
        }
    }

    &__btn {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        padding: 12px 100px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;

        color: #FFFFFF;
        background: #1482DD;
        border-radius: 12px;
        cursor: pointer;

        @include for-size(tablet) {
            max-width: 341px;
            height: 78px;
            padding: 20px 90px;

            font-size: 32px;

            border-radius: 20px;
        }
    }

    &__btn:hover,
    &__btn:focus,
    &__btn:active {
        color: #1482DD;
        background: #ffffff;
    }
}