.second {
    padding: 40px 0 60px;
    background: #E5E5E5;

    @include for-size(desktop) {
        padding: 60px 0;
    }

    & .container {
        @include for-size(desktop) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

    }

    &__img-mob {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;

        @include for-size(desktop) {
            display: none;
        }
    }

    &__img-desk {
        display: none;

        @include for-size(desktop) {
            display: block;
            // max-width: 510px;
            // max-height: 500px;
        }
    }
}

.second__list {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    @include for-size(desktop) {
        // max-width: 550px;
        margin: 0;
    }
}

.second__item {
    &:not(:last-child) {
        margin-bottom: 16px;

        @include for-size(desktop) {
            margin-bottom: 44px;
        }
    }

    &:nth-child(even) {
        margin-right: -16px;

        @include for-size(desktop) {
            margin-right: 0;
            margin-left: 160px;
        }
    }

    &:nth-child(odd) {
        margin-left: -16px;

        @include for-size(desktop) {
            margin-left: 0;
        }
    }

    &-img-mob {
        width: 100%;

        @include for-size(desktop) {
            display: none;
        }
    }

    &-img-desk {
        display: none;

        @include for-size(desktop) {
            display: block;

        }
    }
}