.third {
    @include for-size(tablet) {
        padding: 142px 0 136px;

        background-image: url('../../img/third/third-bg-desk.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__img {
        width: 100%;

        @include for-size(tablet) {
            display: none;
        }
    }

    & .container {
        margin-top: -1px;
        padding: 32px 15px 60px;

        background: #000000;

        @include for-size(tablet) {
            padding: 0 15px;
            background: unset;
        }
    }

    &__text {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;

        color: #FFFFFF;

        @include for-size(tablet) {
            margin: 0;

            font-weight: 700;
            font-size: 20px;

            color: #FFFFFF;
        }
    }

    &__text:first-child {
        margin: 0 auto 25px;

        @include for-size(tablet) {
            margin: 0 0 32px;
        }
    }

    &__text:last-child {
        margin: 0 auto;

        @include for-size(tablet) {
            margin: 0;
        }
    }

    &__text--part {
        font-weight: 700;
    }
}