<footer class="footer">
  <div class="container">

    <p class="footer__text">If you are interested in helping the Ukrainian army, in saving the lives of Ukrainian soldiers, the SAROS 3000 is one of the most essential systems on the battlefield. By clicking the button below you can donate a reasonable amount of money and thus contribute to Ukraine's victory in this war, and most importantly, to saving the lives of one or even more Ukrainian soldiers.</p>

    <div class="footer__goal">
      Goal: $1 600 000
      <div class="footer__goal--accent"></div>
    </div>

    <button type="button" class="footer__btn">DONATE</button>
    
  </div>
</footer>
