<section class="second">
  <div class="container">
    
    <img src="../img/second/second-img-mob.png" alt=""  class="second__img-mob">
    <img src="../img/second/second-img-desk.png" alt=""  class="second__img-desk">

    <ul class="second__list list">
      <li class="second__item">
        <img src="../img/second/second-list-item-mob-1.svg" alt="" class="second__item-img-mob">
        <img src="../img/second/second-list-item-desk-1.svg" alt="" class="second__item-img-desk">
      </li>
      <li class="second__item">
        <img src="../img/second/second-list-item-mob-2.svg" alt="" class="second__item-img-mob">
        <img src="../img/second/second-list-item-desk-2.svg" alt="" class="second__item-img-desk">
      </li>
      <li class="second__item">
        <img src="../img/second/second-list-item-mob-3.svg" alt="" class="second__item-img-mob">
        <img src="../img/second/second-list-item-desk-3.svg" alt="" class="second__item-img-desk">
      </li>
      <li class="second__item">
        <img src="../img/second/second-list-item-mob-4.svg" alt="" class="second__item-img-mob">
        <img src="../img/second/second-list-item-desk-4.svg" alt="" class="second__item-img-desk">
      </li>
    </ul>
      
  </div>
</section>
